<template>
    <div class="row">
        <div class="col-md-8">
            <div class="card card-default" >
                <div class="card-header">Messages</div>
                <div class="card-body p-0">
                    <ul class="list-unstyled" v-chat-scroll style="height: 300px; overflow-y: auto">
                        <li class="p-2 " v-for="(message , index) in messages" :key="index">
                            <strong> {{message.user.name }}  : </strong>
                            {{message.message }}
                        </li>
                    </ul>
                </div>
                <input type="text" v-model="newMessage" @keydown="sendTypingEvent" @keyup.enter="sendMessage" name="message" class="form-control" placeholder="Endter Your Message...." >
            </div>
            <span class="text-muted" v-if="activeUser">{{activeUser.name}} is Typing....</span>
        </div>
        <div class="col-md-4">
            <div class="card card-default">
                <div class="card-header">Active Users</div>
                <div class="cart-body">
                    <ul >
                        <li class="py-2" v-for="(user,index) in users" :key="index">
                            {{user.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueChatScroll from 'vue-chat-scroll'
    Vue.use(VueChatScroll)
    export default {
        props:['user'],
        data() {
            return {
                messages : [],
                newMessage : '',
                activeUser : false ,
                typingTimer : false ,
                users : [],
            }
        },
        created() {
            this.fetchMessages();



            Echo.join('chat').here(user => {
                this.users = user;
            }).joining(user => {
                this.users.push(user);
            }).leaving(user => {
              this.users = this.users.filter(u => u.id != user.id)
            }).listen('MessageSent',(event) => {
                this.messages.push(event.message);
            }).listenForWhisper('typing',user => {
                this.activeUser = user;
                if (this.typingTimer){
                    clearTimeout(this.typingTimer);
                }
              this.typingTimer = setTimeout(() => {
                    this.activeUser = false
                }, 3000)
            })
        },
        methods: {
            fetchMessages(){
                axios.get('messages').then(response => {
                    this.messages = response.data;
                })
            },
            sendMessage(){
                this.messages.push({
                    user: this.user,
                    message : this.newMessage
                });
                axios.post('messages',{message : this.newMessage});
                this.newMessage = '';
            },
            sendTypingEvent(){
                Echo.join('chat').whisper('typing',this.user);
            }
        }
    }
</script>
